<!doctype html>
<html>
<head>
    <title>Social World</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body { padding-top:80px;

            background-image: url('images/Desktop-cool.jpg');
            background-size: cover;
            background-repeat: no-repeat;
         }
         .container{          
            background-size: contain;
            height: 280px;
            background-position: center;
         }
         #my-navbar{
                position: fixed; /* Set the navbar to fixed position */
                top: 0; /* Position the navbar at the top of the page */
                width: 100%; /* Full width */
         }
    </style>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<a href="" class="navbar-brand">Social World</a>
</div>

<div class="collapse navbar-collapse" id="navbar-collapse">

<a href="#" class="btn navbar-btn navbar-right" style="color: #ffffff">Update</a>
<a href="#" class="btn navbar-btn navbar-right" style="color: #ffffff">About Us</a>
    <ul class="nav navbar-nav">
    <li><a href="#feedback">Feedback</a>
    <li><a href="#Eventgallery">Events</a>
    <li><a href="#CCM">Society Members</a>
    <li><a href="#faq">F.A.Q</a>
    <li><a href="#Contact">Contact Us</a> 
    </ul>
</div>
</nav><br><br><br><br>
<div class="container">
    <div class=" text-center">
        <h1 style="color: white ;"><span class="fa fa-lock"></span> Welcome to Social World !!</h1>

        <h3 style="color: white ;">Join our Society !!</h3><br>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <br>
        <h3 style="color: white ;">SignUp with Facebook</h2>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </div>

</div>
</body>
</html>